requests==2.23.0
boto3==1.17.8
Codado==0.8.0
click==7.1.2
fastapi==0.65.2
uvicorn==0.13.4
pydantic==1.7.4
fastapi-utils==0.2.1
python-dotenv==0.16.0
grequests==0.6.0
toml==0.10.2
flake8==3.9.2
pytest==6.2.4
autopep8==1.5.7
pytest-asyncio==0.15.1